:root {
  --primary-light: #fff;
  --primary-dark: #2D3142;
  --secondary-light: #e0eaff;
  --secondary-dark: #484f6b;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: var(--primary-light);
}


.InnerContainer{
    margin-left: 28vw;
    padding-bottom: 200px;
}

.OuterContainer{

}
