.element {
	height: 100vh;
}

.linkSection{
  /*background-color: var(--secondary-light);*/
  height: 80%;
	width: 90%;
  padding: 20px;
}

.sectionHeader{
	font-size: 2em;
	color: var(--primary-light);
	background-color: var(--primary-dark);
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
.sectionContent {
	padding: 20px;
	margin-top: 5%;
	height: 60vh;
}

@media screen and (max-width: 900px){
	.sectionHeader {
		font-size: 1em;
	}
}
